---
- name: Configuration management with Ansible
  hosts: servers
  become: true
  vars:
    nginx_version: 1.26.3-2ubuntu1.2
  tasks:
    - name: Install Nginx & iptables
      ansible.builtin.apt:
        name:
          - nginx={{ nginx_version }}
          - iptables
        state: present
        update_cache: true

    - name: Create new user
      ansible.builtin.user:
        name: lola
        group: orbstack

    - name: Create test dir
      ansible.builtin.file:
        path: /opt/test_dir
        state: directory
        owner: lola
        group: orbstack
        mode: '0755'

    - name: Allow established and related connections
      ansible.builtin.iptables:
        chain: INPUT
        jump: ACCEPT
        ctstate: ESTABLISHED,RELATED
        state: present
